@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  /* Orange-500 */
  --color-primary-hover: #EA580C;
  /* Orange-600 */
  --color-primary-light: #FFEDD5;
  /* Orange-100 */

  /*Color for dashboard*/
  --color-dashboard-bg : #F3F4F6;
  /*Gray-100*/
  --color-dashboard-primary: #002366;
  /*Dark Blue*/

  --color-dashboard-accent: #ffd700;
  /*Gold*/

  


  @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
  @keyframes slide-in-bottom { from { transform: translateY(100%); opacity: 0; } to { transform: translateY(0); opacity: 1; } }
  @keyframes slide-in-right { from { transform: translateX(20px); opacity: 0; } to { transform: translateX(0); opacity: 1; } }
}


@utility animate-in { animation-duration: 300ms; animation-fill-mode: forwards; }
@utility fade-in { animation-name: fade-in; }
@utility slide-in-from-bottom-2 { animation-name: slide-in-bottom; }
@utility slide-in-from-right-4 { animation-name: slide-in-right; }
@utility slide-in-from-bottom-5 { animation-name: slide-in-bottom; }
